html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.no-select {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// dev styles

.bdr {
  border: 1px red solid;
}

.bdb {
  border: 1px blue solid;
}

.bdg {
  border: 1px lime solid;
}
