@use 'sass:map';
@use '../examples' as *;
@use 'media-query' as *;

// map values
$arbitrarySizes: (
	small: 700px,
	// vars still work
	medium: $var4mixin,
	large: 1100px
);

@mixin aMixin() {
	// use variables in queries
	@media (max-width: $var4mixin) {
		color: red;
	}
}

// pass in size values
@mixin bMixin($size) {
	@media (max-width: $size) {
		// use external stuff inside
		@content;
	}
}

// access map values
@mixin cMixin($key) {
	$size: map-get($arbitrarySizes, $key);
	@media (min-width: $size) {
		@content;
	}
}

// mixins using other mixins

// <div class="query-example"></div>
// .query-example {
//   @include queryExample();
// }

@mixin queryExample {
	@include is(mobile) {
		color: orange;
		&::after {
			content: 'mobile';
		}
	}
	@include is(tablet) {
		color: lime;
		&::after {
			content: 'tablet';
		}
	}
	@include is(laptop) {
		color: blue;
		&::after {
			content: 'laptop';
		}
	}
	@include is(desktop) {
		color: purple;
		&::after {
			content: 'desktop';
		}
	}
	@include is(wide) {
		color: magenta;
		&::after {
			content: 'wide';
		}
	}
	@include is(ultrawide) {
		color: red;
		&::after {
			content: 'ultrawide';
		}
	}
	@include is(superultrawide) {
		color: yellow;
		&::after {
			content: 'superultrawide';
		}
	}
}
